
/*#0F2C40 #1CAEB2*/

.MenuTemporal ul li{
	display: inline-block;
	width: 10%;
	padding: 20px;
	background: #1CAEB2;
}
.MenuTemporal ul li:hover{
	background: #86FBFF
}
.Información {
	margin-top: 100px;
	background: #2D85BF;
	width: 90%;
	padding: 5%;
	border-top: #0F2C40 10px solid;
	border-bottom: #0F2C40 10px solid;
}

.Información .Descripción {
	width: 90%;
	padding: 5%;
font-size: 20px;
}
.Información .Descripción p{

}
@media only screen and (max-width: 450px) {
	.Información .LogoDescripción img{
		display: none;
	}
}
